* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
}

body {
    max-width: 640px;
    width: 100%;
    background-color: #aaaaaa;
    margin: 0 auto;
    margin-top: 120px;
    
}

form {
    margin-top: 16px;
    display: flex;
    max-width: 520px;
    width: 100%;
    justify-content: space-between;
}

form input {
    padding: 8px;
    align-items: center;
    width: 480px;
}

form button {
    padding: 8px;
    margin-left: 16px;
}

header h1 {
    font-size: 48px;
    text-align: center;
}

ul {
    margin-top: 16px;
    padding: 8px;
    text-align: center;
    
}

ul li {
    font-size: 24px;
    cursor: pointer;
}

.risca {
    text-decoration: line-through;
}